<h1>Words</h1>

<h3>Here are the words in this dictionary:</h3>

<ul>
  <% @test_words.each() do |posting| %>
  <li><a href="/words<%= posting.word_id() %>">
    <%= posting.word() %></a></li>
    <% end %>
</ul>
