<h1>Add a word:</h1>

<form action='/words' method='post'>
  <label for='a_word'>Word:</label>
  <input id='a_word' name='a_word' type='text'>
  <button type="submit">Add Word</button>
</form>

<!-- indentation fixed lines 5-6 -->